.vjs-playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: calc(100% - 32px);
}

.vjs-playlist-item {
  cursor: pointer;
  opacity: 0.7;

}

/* hover */
.vjs-playlist-item:hover {
  opacity: 1;
}
.vjs-playlist.invisible {
  display: none;
}

.vjs-button.vjs-playlist-toggle > .vjs-icon-placeholder {
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M6%206L3%207.73205L3%204.26795L6%206Z%22%20stroke%3D%22%23fff%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M3%2012L21%2012%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M10%206L21%206%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M3%2018L21%2018%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 8px 50%;
  height: 100%;
}

.video-js {
  width: 800px;
  height: 400px;
}
